{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container">

<!-- Creating New Categories -->
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h3>Add new Category:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form id="categoryForm" method="POST" action="{% url 'add_category' 'category_form.POST.category_name' %}"
                style="margin-top: 1.3em;">
                {{ category_form | crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit"
                class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% else %}
            <p>Log in to leave a comment</p>
            {% endif %}
        </div>

    </div>
</div>
{% endblock content %}