{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
<div class="container h-100">
    <a href="{% url 'category' %}" class="btn btn-outline-primary right">Add Category</a>
    <!-- Displaying categories -->
  <div class="row d-flex justify-content-center align-content-center h-100">
    <div class="col-12  ">
      <h3 class="align-middle">Categories:</h3>
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
          to iterate through each category in categories -->
        {% for category in categories %}
        {% if category.author == user %}
        <div class="p-2 comments d-flex flex-column">

          <p class="font-weight-bold">
            {{ category.author }}

          </p>
          <div id="category{{ category.id }}">
            <h2 class="card-title">{{ category.category_name | linebreaks }}</h2>
          </div>
          {% endif %}
          {% if user.is_authenticated and category.author == user %}
            <button class="btn btn-delete"
                data-category_id="{{ category.id }}">Delete</button>
            <button class="btn btn-edit"
                data-category_id="{{ category.id }}">Edit</button>
            {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>

  </div>
</div>
<!-- update categories modal-->
<div class="modal" id="editModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete category?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your category?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}