{% extends "base.html" %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<!-- index.html content starts here -->
{% if user.is_authenticated %}
<div class="container-fluid">
  <a href="{% url 'tasks' %}" class="btn btn-outline-primary right d-flex justify-content-center align-content-center" >Add Task</a>
  <div class="row">
        <!-- Task Entries Column -->
        <div class="col-12">
          <h3 class="align-middle d-flex justify-content-center align-content-center">Tasks:</h3>
          {% if tasks|length > 0 %}
                {% for task in tasks %}
                {% if task.finished_task == False %}
                {% if user == task.author %}

                <div class="row d-flex justify-content-center align-content-center">
                  <div class="col-md-4">
                      <div class="card mb-4">
                          <div class="card-body task-container">
                              <div class="image-container">

                                  <div class="image-flash">
                                    <p class="author">Author: {{ task.author }}</p>
                                  </div>
                              </div>
                              <div>
                                  <h2 class="card-title task-name">{{ task.task_name }}</h2>
                                  <p class="crd-text task-description">
                                    {{ task.task_description }}
                                  </p>
                                  <p class="srd-text task-misc">
                                    <span class="task-date">{{task.date|date:"Y-m-d"}}</span> Category:<strong class="task-category">{{task.category_id}}</strong>
                                  </p>
                                  <p class="srd-text task-start-end-time">
                                    start time <span class="task-start">{{task.start_time|date:"H:i"}}</span>
                                    end time <span class="task-end">{{ task.end_time|date:"H:i"}}</span>
                                  </p>

                                  <button class="btn btn-delete btn-delete-task"
                                      data-task_id="{{ task.id }}">Delete</button>
                                  <button class="btn btn-edit btn-edit-task"
                                      data-task_id="{{ task.id }}">Edit</button>

                                  <hr />
                                </div>
                          </div>
                      </div>
                  </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            {% else %}
            <div class="row d-flex justify-content-center align-content-center">
              <div class="col-md-4">
                <div class="card mb-4">
                  <h2>No tasks for today</h2>
                </div>
              </div>
            </div>
            {% endif %}
            <div class="row">
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
<!-- update tasks modal-->
<div class="modal" id="editTaskModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form name="editTaskForm" method="POST" class="was-validated">
        <div class="modal-body">

            <label for="id_category_id" class="form-label requiredField"> Category id<span class="asteriskField">*</span></label>
            <select name="category_id" class="select form-select" required size="1" id="id_category_id">

                {% for category in categories %}
                {% if category.author == user %}
                <option value="{{category.id}}">{{category.category_name}}</option>
                {% endif %}
                {% endfor %}
            </select>

            <div class="mb-3 mt-3">
              <label for="id_task_name" class="form-label requiredField">Task name<span class="asteriskField">*</span></label>
              <input type="text" name="task_name" maxlength="50" class="textinput form-control" required id="id_task_name">
              <div class="valid-feedback">Vaild.</div>
              <div class="invalid-feedback">
                Please provide a valid task name.
              </div>
            </div>

            <div class="mb-3">
              <label for="id_task_description" class="form-label requiredField">Task description<span class="asteriskField">*</span></label>
              <textarea name="task_description" cols="40" rows="10" class="textarea form-control" required id="id_task_description"></textarea>
              <div class="valid-feedback">Vaild.</div>
              <div class="invalid-feedback">
                Please provide a valid text.
              </div>
            </div>

            <input type="checkbox" name="is_urgent" class="checkboxinput form-check-input" id="id_is_urgent">
            <label for="id_is_urgent" class="form-check-label">
                Is urgent
            </label><br>

            <div class="mb-3">
              <label for="id_date" class="form-label requiredField">
                  Date<span class="asteriskField">*</span> </label>
              <input type="date" name="date" class="dateinput form-control" required id="id_date">
              <div class="valid-feedback">Vaild.</div>
              <div class="invalid-feedback">
                Please provide a valid date.
              </div>
            </div>

            <div class="mb-3">
              <label for="id_start_time" class="form-label requiredField">
                  Start time<span class="asteriskField">*</span> <input type="button" id="start_time_ck" value="Set to current time"></label>
              <input type="time" name="start_time" class="timeinput form-control" required id="id_start_time">
              <div class="valid-feedback">Vaild.</div>
              <div class="invalid-feedback">
                Please provide a valid start time hh:mm.
              </div>
            </div>

            <div class="mb-3">
              <label for="id_end_time" class="form-label requiredField">
                  End time<span class="asteriskField">*</span> <input type="button" id="end_time_ck" value="Set to current time"> </label>
              <input type="time" name="end_time" class="timeinput form-control" required id="id_end_time">
              <div class="valid-feedback">Vaild.</div>
              <div class="invalid-feedback">
                Please provide a valid end time hh:mm.
              </div>
            </div>

            <div id="div_id_finished_task" class="mb-3 form-check">
              <input type="checkbox" name="finished_task" class="checkboxinput form-check-input" id="id_finished_task">
              <label for="id_finished_task" class="form-check-label">Finished task</label>
            </div>
            {% csrf_token %}

        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" name="cancel" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" id="update" name="update" class="btn btn-primary">Update</button>
        </div>
      </form>

      </div>
    </div>
  </div>
  <!-- Delete confirmation modal -->
<div class="modal fade" id="deleteTaskModal" tabindex="-1"
aria-labelledby="deleteModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"
        id="deleteModalLabel">Delete task?</h5>
      <button type="button" class="btn-close"
        data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      Are you sure you want to delete your task?
      This action cannot be undone.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"
        data-bs-dismiss="modal">Close</button>
      <a id="deleteTaskConfirm" href="#" class="btn
        btn-danger">Delete</a>
    </div>
  </div>
</div>
</div>
{% endif %}
<!-- index.html content ends here -->
{% endblock %}
{% block copyright %}
    CopyRight 2023 Michael Cloran
{% endblock %}
{% block extras %}
<script src="{% static 'js/tasks.js' %}"></script>
{% endblock %}
